
<!DOCTYPE html>
<html>
<header>
  <body>
  <h1>mi pelicula</h1>
  <img src="https://images.app.goo.gl/SfJ66vzLx35gRR6f9" alt="profile-picture">
  
  </body>
  <h2>piratas del caribe el fin del mundo</h2>
</header>
<body>
<section> 
  <div class="bio">
    <h2><b>sinopsis</b></h2>
    <p>Cuando Jack Sparrow desaparece, el capitán Barbossa se queda al mando
       de la Perla Negra. Junto a Will Turner y Elizabeth Swann,
        parte en busca de su amigo hasta el fin del mundo y 
      más allá, ya que se encuentra en manos del temible Davy Jones.</p>
</div>
<div class="bio">
  <h3><b> por que elejiste esta pelicula</b></h3>
  <ul>
    <li> entretenida</li>
    <li>personajes</li>
    <li>fantasia</li>
  </ul>
</div>

<div class="bio">
  <h2><b>peliculas similares</b></h2>
  <div class="
  ficcion"> 
 <h3>pelicula fantaciosa</h3>
  </div>
  <div class="ficcion"> 
    <h4>pelicula de ficcion</h4>
  </div>
</div>

</body>
</html> 


